<p>
  <%= f.label :name %><br>
  <%= f.text_field(:name, {:class => 'form-control'}) %>
</p>

<p>
  <%= f.label :chapters %><br>
  <%= f.text_field(:chapters, {:class => 'form-control'}) %>
</p>

<p>
  <%= f.label :idPage %><br>
  <%= f.text_field(:idPage, {:class => 'form-control'}) %>
</p>

<p>
  <%= f.submit({:class => 'btn btn-primary'})%>
</p>