<br><br>
<h1><%= @anime.name %><h1>
<h3><%= @anime.chapters %> - <%= @anime.idPage %><h3>
<h2>Creado por:  <%= @anime.user.email %><h2>
<h2>Pagina:  <%= @anime.page.name %><h2>

<hr>
<div>
  <h1>Hacer Comentario</h1>
  <br>
  <%= render "comments/form" %>  
  <br>
</div>

<div>
  <h1>Comentarios</h1>
  <ul>
    <% @anime.comments.each do |comment| %>
      <li><%= comment.body %> - <%= comment.user.email %>     <%= link_to 'Eliminar', [comment.anime, comment], method: :delete, data: {confirm: 'Estas seguro?'}, :class=> "btn btn-danger"%></li>
    <% end %>
  </ul>
</div>



<%= link_to "Edit", edit_anime_path(@anime), :class => 'btn btn-primary' %>
<%= link_to 'Eliminar', @anime, method: :delete, data: {confirm: 'Estas seguro?'}, :class=> "btn btn-danger"%>